<section id="modal" class="hidden">
  <p class="ttl">Raku安サーチ（らくやすサーチ）使い方</p>
  <p>
    楽天の検索結果をスクレイピングして一覧表示します。<br />価格をソートしてお得な商品を探すのにお役立てください。(ソート機能はPC版のみ)<br />取得に関して以下の制限があります。
  </p>
  <p class="sub-ttl">主な制限</p>
  <ul>
    <li>
      楽天の仕様により、取得できるデータ数に制限があります。検索結果が多い場合、45件までしか取得できません。<br />検索結果を1,000件以内に収めるのがおすすめです。
    </li>
    <li>
      事業者側で商品ページが更新された場合、検索結果にはリアルタイムで反映されません。<br />タイミングによっては更新前のデータを取得します。実際の価格、送料等は商品ページでご確認ください。
    </li>
  </ul>
  <div id="close">閉じる</div>
</section>
